@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333333;
    transition: opacity 2s, visibility 2s;
    z-index: 100;
}

.loader-hide {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn)
    }
    to {
        transform: rotate(1turn)
    }
}

.topic-animate {
    position: absolute;
    letter-spacing: 2px;
    top: 20px;
    width: fit-content;
    white-space: nowrap;
    font-size: 3em;
    color: #464646;
}

.topic-animate::before {
    content: "Weather-App";
    position: absolute;
    top: 0px;
    width: 0%;
    left: 0;
    height: 100%;
    color: rgb(56, 163, 229);
    overflow: hidden;
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0%,
    20%,
    100% {
        width: 0;
    }
    80%,
    90% {
        width: 100%;
    }
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /**  background: url("https://source.unsplash.com/1600x900/?clouds") no-repeat center center/cover;**/
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
}

.weather-card {
    max-width: 750px;
    width: 100%;
    margin: 0px auto;
    height: 350px;
    border-radius: 30px;
    display: flex;
    padding: 0px 10px;
}

.location {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px;
    margin: auto 20px;
    background-color: rgba(106, 166, 229, 0.6);
    border-radius: 20px;
    box-shadow: 6px 6px 10px grey, -5px -5px 10px grey;
    transition: all 1s ease-in-out;
}

.location:hover {
    transform: translateY(30px);
    box-shadow: 6px 6px 8px rgb(162, 162, 162), -6px -6px 8px rgb(224, 224, 224);
}

.location-info {
    width: 50%;
    height: 85%;
    margin: auto 0px;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: space-evenly;
    padding: 10px 20px;
    background-color: rgba(106, 166, 229, 0.4);
    border-radius: 20px;
    box-shadow: 6px 6px 8px rgb(162, 162, 162), -6px -6px 8px rgb(224, 224, 224);
    font-family: 'Poppins', sans-serif;
    transition: all 1s ease-in-out;
}

.location-info:hover {
    transform: translateY(30px);
    box-shadow: 6px 6px 5px rgba(8, 8, 8, 0.5), -6px -6px 5px rgba(40, 40, 40, 0.3);
}

.loading {
    visibility: hidden;
    position: relative;
}

.loading::after {
    content: "Loading...";
    position: absolute;
    color: grey;
    font-size: 1.3em;
    top: 0;
    visibility: visible;
}

.weather-prop-hide {
    display: none;
}

#icon {
    margin: 0px;
}

#icon>img {
    width: 50px;
    height: 50px;
}

#city-name {
    margin: 5px 0px;
    font-size: 1.7em;
    font-weight: 900;
    padding-bottom: 3px;
}

#ex-detail {
    line-height: 2em;
    font-size: 1.3em;
    text-shadow: 3px 2px 5px rgb(127, 218, 245);
}

footer {
    position: absolute;
    bottom: 0;
    height: 30px;
    background: grey;
    width: 100%;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
}


/**media screen query for mobile version**/

@media screen and (max-width:420px) {
    .weather-card {
        flex-direction: column;
        height: 480px;
        align-items: center;
    }
    .location {
        width: 95%;
        margin: 20px auto;
        height: 250px;
        transition: none;
    }
    .location-info {
        width: 95%;
        margin: 0px auto;
        margin-top: 10px;
        transition: none;
    }
    .topic-animate {
        font-size: 2em;
    }
}
